**Question 1**:

Print your name, student id, email address, section and course id as follows

    my name:
    student id:
    email:
    section:
    course id:

In [ ]:
# Write your code here
print('''my name : Proma
id: 1221434
section: 10''')

my name : Proma
id: 1221434
section: 10

**Question 2**:

Use five variables to store your name, student id, email address, section and course id and then print them using five print() statements

In [ ]:
# Write your code here
name = "Proma"
id = "121334"
email = "tanjinaproma@gmail.com"
section = 10
c_id = 101

print("my name : ", name)
print("student id: ", id)

my name :  Proma
student id:  121334

**Question 3**:

Use three variables to store your student id, course name, CGPA and then print them using single print() statement. The print will be exactly is follows:

    Student id:
    Course name:
    Student CGPA:

In [ ]:
# Write your code here
id = "121334"
course_name = "CIS101L"
cgpa = 3.00

print("Student id: ", id, "\nCourse name:", course_name )

Student id:  121334
Course name: CIS101L

**Question 3**:

Declare four variables of four different types.Then print their values and data types.

In [ ]:
# Write your code here
# Declaring variables of different types
integer_var = 10          # Integer
float_var = 20.5          # Float
string_var = "Hello"      # String
boolean_var = True        # Boolean

# Printing their values and data types
print("Value:", integer_var, "Type:", type(integer_var))
print("Value:", float_var, "Type:", type(float_var))
print("Value:", string_var, "Type:", type(string_var))
print("Value:", boolean_var, "Type:", type(boolean_var))

Value: 10 Type: <class 'int'>
Value: 20.5 Type: <class 'float'>
Value: Hello Type: <class 'str'>
Value: True Type: <class 'bool'>

**Question 4**:

For the following variables check and print their data types

```python
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j

# Print the datatype for name

# Print the datatype for CGPA

# Print the datatype for age

# Print the datatype for w
```

In [ ]:
# Write your code here
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j

print(type(name))
print(type(CGPA))
print(type(age))
print(type(w))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

**Question 5:**

Using a single assignment operator assign the values 7, 8.91, 'Jonny Jonny Yes Pappa' and 'This is 2023 Summer' to 4 different variables. Then print their values.

In [ ]:
# Write your code here
a,b,c,d = 7, 8.91, 'Jonny Jonny Yes Pappa' , 'This is 2023 Summer'
print("a = ", a, "\tb = ",b, "\tc = ", c)

a =  7 	b =  8.91 	c =  Jonny Jonny Yes Pappa

**Question 6**:
* Take two numbers as input from the user and store them in two variables, a and b.
* Add the two numbers and store the result in another varibale c (i.e., c = a + b)
* Print the result formatteed as follows: a + b = c

In [ ]:
# Write your code here
a = input()
b = input()

c = int(a) + int(b)
print(c)

5
3
8

**Question 7**:

a. Take two integer values as input from the user.

b. Print the output of (1) division, (2) floor division, (3) Exponent of the two integers.

In [ ]:
# Write your code here
a = int(input())
b = int(input())

div = a/b
fdiv = a//b
exp = a**b

print("Div: ", div, "\nfloor division: ", fdiv, "\nExponent : ", exp)

5
2
Div:  2.5
floor division:  2
Exponent :  25

**Question 8**:

Take two numbers as input. Check and print whether they are equal to or not.

In [ ]:
# Write your code here
a = int(input())
b = int(input())

test = a == b # checks a is equal to b. RESULT: True or False
print(f'{a} == {b} is {test}')

6
43
6 == 43 is False

**Question 9**:

Write a program to take two numbers from console. Now swap the numbers.

In [ ]:
# Write your code here
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Printing numbers before swapping
print(f"Before swapping: num1 = {num1}, num2 = {num2}")

# Swapping the numbers
num1, num2 = num2, num1

# Printing numbers after swapping
print(f"After swapping: num1 = {num1}, num2 = {num2}")

Enter the first number: 33
Enter the second number: 765
Before swapping: num1 = 33.0, num2 = 765.0
After swapping: num1 = 765.0, num2 = 33.0

**Question 10**:

Write a program that prints a multiplication table for numbers up to 10

In [ ]:
# Write your code here

for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()  # Blank line between tables

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

**Question 11**:

Write a program that calculates the perimeter of a rectangle given its length and width. Your program should:

* Take input from the user for the length and width of the rectangle.
* Use the formula: Area = length * width
* Display the calculated area upto 4 decimal point

In [ ]:
# Write your code here
length = float(input("enter Length : "))
width = float(input("enter Width : "))

Area = length * width
print(f"The area of the rectangle is: {Area:.4f}")

enter Length : 2.2
enter Width : 3
The area of the rectangle is: 6.6000

**Question 12**:

Write a program that calculates the circumference of a circle given its radius. Your program should:

* Take input from the user for the radius of the circle.
* Declare the value of pi with value of 3.1416
* Use the formula: Area = 2 * pi * r
* Display the calculated area upto 4 decimal point

In [ ]:
# Write your code here

r = float(input("Radius: "))
pi = 3.1416

Area= 2*pi*r
print(f"The area is: {Area:.4f}")

Radius: 4
The area is: 25.1328

**Question 13**:

Write a program that takes a temperature in Celsius as input and prints its equivalent in Fahrenheit. Your program should:

* Take input from the user for the Celsius.
* Use the formula: Fahrenheit = (Celsius Ã— 9/5) + 32
* Display the calculated Fahrenheit upto 4 decimal point

In [ ]:
# Write your code here
c = float(input("Enter a Temperature: "))
f = (c*9/5) +32

print(f"The Fahrenheit is: {f:.4f}")

Enter a Temperature: 33
The Fahrenheit is: 91.4000

**Question 14**:

Write a program that takes a number of cigarettes smoked per day as input and calculates and prints the total number of cigarettes smoked in a year.

In [ ]:
# Write your code here
n = int(input())
total = 365 *n
print(total)

5
1825

**Question 15**:

Write a program that takes a person's height in feet as input and calculates and prints their height in meters

In [ ]:
# Write your code here
f = float(input("Enter height in feet :"))
m = f*0.304

print("Height in meters :", m)

Enter height in feet :5.5
Height in meters : 1.672

# **THE END**